<div class="col-md-12">
	<div class="col-md-12" id="gridExample"></div>
</div>
<div class="col-md-12">
	<div class="col-md-12" id="gridExample3"></div>
</div>
<div class="col-md-12">
	<div class="col-md-12" id="gridExample2"></div>
</div>
<script>
$('#gridExample2').ecGrid({
		dataSource:{
			// url: 'https://gist.githubusercontent.com/arfian/82dffde13bbf5c39179b/raw/aeed539bbb092d7b0c094d6fa9ff00e8fec0b168/examplejson',
			// call: 'GET',
			// callData: {}, 
			// callOK: function(res){
			// 	console.log("===>>",res);
			// }
			data:[{
			    "ConnectionName": "200_eccolmag data2",
			    "Database": "eccolmag",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8002",
			    "Password": "",
			    "UserName": "",
			    "_id": "200_eccolmag1"
			}, 
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8003",
			    "Password": "",
			    "UserName": "",
			    "_id": "example2"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8005",
			    "Password": "",
			    "UserName": "",
			    "_id": "example3"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8802",
			    "Password": "",
			    "UserName": "",
			    "_id": "example4"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8402",
			    "Password": "",
			    "UserName": "",
			    "_id": "example5"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8332",
			    "Password": "",
			    "UserName": "",
			    "_id": "example6"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "3333",
			    "Password": "",
			    "UserName": "",
			    "_id": "example7"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "9202",
			    "Password": "",
			    "UserName": "",
			    "_id": "example8"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "2000",
			    "Password": "",
			    "UserName": "",
			    "_id": "example9"
			},
			]
		}, 
		columns: [
			{field: "ConnectionName", title: "Nama koneksi", classHeader: "cobaClass", classFooter: "cobaClass"},
			{field: "Database", title: "Database", attrColoumn: {type:"db"}},
			{field: "Driver", title: "Driver"},
			{field: "Host", displayTemplateHeader: "<strong> Host & Port</strong>", 
				displayTemplateRow: function(){
					return "<label>#*Host#: #*Port#</label>";
				},displayTemplateFooter: "Total :"
			},
			{field: "_id", title: "_id",  width: 120 },
			{field: "",
				displayTemplateRow: function(){
					var k =[
					"<input type='checkbox'/>"
					].join(" ");
					return k;
				}
			}, 

		],
		pageable:{
			refresh: true,
			buttonCount: 3
		},
	});
	$('#gridExample').ecGrid({
		dataSource:{
			// url: 'https://gist.githubusercontent.com/arfian/82dffde13bbf5c39179b/raw/aeed539bbb092d7b0c094d6fa9ff00e8fec0b168/examplejson',
			// call: 'GET',
			// callData: {}, 
			// callOK: function(res){
			// 	console.log("===>>",res);
			// }
			data:[{
			    "ConnectionName": "200_eccolmag data2",
			    "Database": "eccolmag",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8002",
			    "Password": "",
			    "UserName": "",
			    "_id": "200_eccolmag1"
			}, 
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8003",
			    "Password": "",
			    "UserName": "",
			    "_id": "example2"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8005",
			    "Password": "",
			    "UserName": "",
			    "_id": "example3"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8802",
			    "Password": "",
			    "UserName": "",
			    "_id": "example4"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8402",
			    "Password": "",
			    "UserName": "",
			    "_id": "example5"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8332",
			    "Password": "",
			    "UserName": "",
			    "_id": "example6"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "3333",
			    "Password": "",
			    "UserName": "",
			    "_id": "example7"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "9202",
			    "Password": "",
			    "UserName": "",
			    "_id": "example8"
			},
			{
				"ConnectionName": "200_example data2",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "2000",
			    "Password": "",
			    "UserName": "",
			    "_id": "example9"
			},
			]
		}, 
		columns: [
			{field: "ConnectionName", title: "Nama koneksi", classHeader: "cobaClass", classFooter: "cobaClass"},
			{field: "Database", title: "Database", attrColoumn: {type:"db"}},
			{field: "Driver", title: "Driver"},
			{field: "Host", displayTemplateHeader: "<strong> Host & Port</strong>", 
				displayTemplateRow: function(){
					return "<label>#*Host#: #*Port#</label>";
				},displayTemplateFooter: "Total :"
			},
			{field: "_id", title: "_id", freeze: true },
			{field: "",
				displayTemplateRow: function(){
					var k =[
					"<input type='checkbox'/>"
					].join(" ");
					return k;
				}
			}, 

		],
		pageable:{
			refresh: true,
			buttonCount: 3
		},
	});

	$('#gridExample3').ecGrid({
		dataSource:{
			data:[{
			    "ConnectionName": "200_eccolmag data3",
			    "Database": "eccolmag",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8002",
			    "Password": "",
			    "UserName": "",
			    "_id": "200_eccolmag1"
			}, 
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8003",
			    "Password": "",
			    "UserName": "",
			    "_id": "example2"
			},
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8005",
			    "Password": "",
			    "UserName": "",
			    "_id": "example3"
			},
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8802",
			    "Password": "",
			    "UserName": "",
			    "_id": "example4"
			},
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8402",
			    "Password": "",
			    "UserName": "",
			    "_id": "example5"
			},
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "8332",
			    "Password": "",
			    "UserName": "",
			    "_id": "example6"
			},
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "3333",
			    "Password": "",
			    "UserName": "",
			    "_id": "example7"
			},
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "9202",
			    "Password": "",
			    "UserName": "",
			    "_id": "example8"
			},
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "2000",
			    "Password": "",
			    "UserName": "",
			    "_id": "example9"
			},
			{
				"ConnectionName": "200_example data3",
			    "Database": "ecexample",
			    "Driver": "mongo",
			    "Host": "localhost",
			    "Port": "9999",
			    "Password": "",
			    "UserName": "",
			    "_id": "example10"
			},
			{
			    "ConnectionName": "data_push data3",
			    "Database": "data_push",
			    "Driver": "sql",
			    "Host": "localhost",
			    "Port": "4343",
			    "Password": "",
			    "UserName": "",
			    "_id": "data_push11"
			}, {
				"ConnectionName": "200_dataDummy data3",
			    "Database": "ecDataDummy",
			    "Driver": "mysql",
			    "Host": "localhost",
			    "Port": "4343",
			    "Password": "",
			    "UserName": "",
			    "_id": "dataDummy12"
			}
			]
		}, 
		columns: [
			{field: "ConnectionName", title: "Nama koneksi", classHeader: "cobaClass", classFooter: "cobaClass", width: 250},
			{field: "Database", title: "Database", attrColoumn: {type:"db"}, width: 350},
			{field: "Driver", title: "Driver", width: 350},
			{field: "Host", displayTemplateHeader: "<strong> Host & Port</strong>", width: 350, 
				displayTemplateRow: function(){
					return "<label>#*Host#: #*Port#</label>";
				},displayTemplateFooter: "Total :"
			},
			{field: "_id", title: "_id", freeze: true, width: 180 },
			{field: "", width: 350,
				displayTemplateRow: function(){
					var k =[
					"<input type='checkbox'/>"
					].join(" ");
					return k;
				}
			}, 

		],
		pageable:{
			refresh: true,
			buttonCount: 3
		},
	});
</script>

<style>
	.cobaClass {
		background-color: grey;
		color: white;
	}
</style>


