<div class="col-md-12">
	<div class="col-md-12" style="margin-bottom:10px;">
		<label class="col-md-1 filter-label">Employee 1</label>
		<div class="col-md-4">
			<input type="text" id="exampleLookup1" />
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary btn-sm" id="getemployee1">Get Employee 1</button>
		</div>
	</div>
	<div class="col-md-12" style="margin-bottom:10px;">
		<label class="col-md-1 filter-label">Employee 2</label>
		<div class="col-md-4">
			<input type="text" id="exampleLookup2" />
		</div>
	</div>
	<div class="col-md-12">
		<label class="col-md-1 filter-label">Employee 3</label>
		<div class="col-md-4">
			<input type="text" id="exampleLookup3" />
		</div>
	</div>
</div>

<script>
	$('#exampleLookup1').ecLookup({
		dataSource:{data:[
			{id:1,name:'arfian', alamat: 'jl.mawar'},
			{id:2,name:'bagus', alamat: 'jl.masjid'},
			{id:3,name:'aaaaaaaa', alamat: 'jl.masjid'},
			{id:4,name:'bbbbbbbbbbbbbbbbb', alamat: 'jl.masjid'},
			{id:5,name:'ccccccccccccc', alamat: 'jl.masjid'},
			{id:6,name:'ddddddddddddddddd', alamat: 'jl.masjid'}
		]}, 
		inputType: 'ddl',
		inputSearch: 'name',  
		idField: 'id', 
		idText: 'name', 
		minChar: 2,
		displayTemplate: function(){
			return "<span>#*id#</span>. <span>#*name#</span>";
		},
	});

	$('#exampleLookup2').ecLookup({
		dataSource:{data:[{id:1,name:'css'},{id:2,name:'js'},{id:3,name:'html'},{id:4,name:'xhtml'}]}, 
		inputType: 'multiple',
		inputSearch: 'name', 
		idField: 'id', 
		idText: 'name', 
	});

	$('#exampleLookup3').ecLookup({
		dataSource:{
			url: 'https://gist.githubusercontent.com/arfian/82dffde13bbf5c39179b/raw/aeed539bbb092d7b0c094d6fa9ff00e8fec0b168/examplejson',
			call: 'GET',
			callData: 'q', 
			callOK: function(res){
				console.log(res);
			}
		}, 
		inputType: 'multiple', 
		inputSearch: '_id', 
		idField: '_id', 
		idText: '_id', 
	});

	// http://localhost:3000/server/getservers

	$('#getemployee1').on('click',function(){
		var a = $('#exampleLookup1').ecLookup('get');
		console.log(a);
	});
</script>